.ant-btn-primary {
  background: $background-secondary;
  &:not(:disabled):hover {
    background: $background-primary-hover;
  }
}
.hover-app-text {
  background: $background-white;
  color: $color-primary;
  &:hover {
    background: $background-primary-hover;
    color: $color-white;
  }
}