body {
  background: $background-white;
  color: $color-primary;
  font-family: $font-family;
  font-size: 14px;
  line-height: 1.5;
}
ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  //bg-pink-100
  background-color: rgb(234, 0, 175, 0.1);
}
::-webkit-scrollbar-thumb {
  //bg-pink-300
  background-color: rgb(234, 0, 175, 0.3);
  border-radius: 40px;
}
::-webkit-scrollbar-thumb:hover {
  //bg-pink-300
  background-color: rgb(234, 0, 175, 0.3);
}