.app-menu {
  .ant-menu {
    @extend .color-bg-inherit;
    border-inline-end: unset!important;
  }
  .ant-menu-item {
    margin: 4px 12px 8px 12px;
    padding: 0 10px!important;
    width: auto;
    border-radius: 8px;
    &:hover {
      @extend .color-bg-primary
    }
  }
  .ant-menu-item-selected {
    @extend .color-bg-primary
  }
}